ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

body {
    background: #F8FFFF;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jost';
}

[data-aos] {
    transition-duration: 1s !important;
}

.back_to_top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #143A3A;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10000;
}

/* Header satrt  */

header {
    width: 100%;
    padding: 25px 0;
    z-index: 100;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header a {
    color: #143A3A;
    font-size: 16px;
    font-weight: 500;
}

header .logo {
    width: 180px;
    padding: 0;
}

a.active {
    color: #000;
    font-weight: 600;
    position: relative;
}

.nav ul li a {
    padding: 0 26px;
}

/* Offcanvas css */

.offcanvas {
    padding: 30px;
}

.offcanvas a {
    color: #292929;
    display: inline-block;
    margin: 10px 0;
}

.offcanvas a.active::after {
    background-color: #292929;
    bottom: -5px;
}

.logo img {
    width: 165px;
}

.nav ul {
    margin-bottom: 0;
    justify-content: end;
}

.head-btn {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 12px 60px 0px rgba(0, 0, 0, 0.10);
    padding: 12px 17px !important;
    margin: 0 26px;
    color: #000;
    font-weight: 500;
}

.bi.bi-list.fs-1 {
    color: #000;
    cursor: pointer;
}

/* Header end  */

/* hero sec css start */

.hero-main {
    padding: 50px 0;
}

.hero_right-img {
    position: relative;
    padding-top: 57%;
    width: 100%;
}

.hero_right-img img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    border: 8px solid #FFF;
    box-shadow: 24px 24px 44px 0px rgba(1, 101, 101, 0.15);
}

.hero_left-text h1 {
    color: #143A3A;
    font-size: 33px;
    font-weight: 600;
}

.hero_left-text {
    margin-bottom: 80px;
}

.hero_left-text p {
    color: #0000008d;
    font-weight: 500;
    padding: 15px 0;
}

.main-btn {
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    background: linear-gradient(180deg, #FA8451 0%, #FA5951 100%);
}

.title h2 {
    color: #143A3A;
    font-size: 32px;
    font-weight: 600;
}

.title p {
    color: #00000089;
    font-weight: 500;
    padding: 10px 0;
}

.title a {
    background: linear-gradient(180deg, #FA8451 0%, #FA5951 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: 600;
}

/* services sec css */

.services {
    position: relative;
    padding-bottom: 150px;
}

.services .in-btn {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid #0e2a2a7e;
    background-color: transparent;
    color: #0e2a2a;
    transition: all .5s ease;
}

.services .in-btn:hover {
    background-color: #143A3A;
    color: #fff;
}

.services .right {
    padding: 20px;
    position: absolute;
    top: 130%;
    transform: translateY(-50%);
    right: 0;
    background: var(--Linear, linear-gradient(270deg, rgba(1, 101, 101, 0.40) 0%, rgba(1, 101, 101, 0.20) 100%));
    box-shadow: 8px 8px 24px 0px rgba(255, 255, 255, 0.15);
}

.services-slider .image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.services-slider .image {
    overflow: hidden;
    border-radius: 24px;
    border: 8px solid #FFF;
    height: 300px;
}

.service-sec .title li,
.service-sec .title p {
    list-style: disc;
    color: #0000008c;
    font-weight: 500;
}

.service-sec .title a {
    border-radius: 16px;
    padding: 5px 10px;
    display: inline-block;
    border: 2px solid #FA8451;
    margin-top: 40px;
}

.service-sec {
    margin-top: 300px;
}

/* Facts sec css */

.facts {
    background-color: rgba(0, 102, 102, .1);
    padding: 50px 0;
    margin: 30px 0;
}

.facts .left::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    width: 20px;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, #FA8451 0%, #FA5951 100%);
}

.facts .d1 {
    border-radius: 16px;
    background: linear-gradient(180deg, #FA8451 0%, #FA5951 100%);
    height: 15px;
    width: 75px;
}

.facts .left {
    padding: 0px 0px 0px 50px;
}

.testimonial h2,
.facts h2 {
    color: #143A3A;
    font-size: 35px;
    font-weight: 600;
}

.testimonial p {
    letter-spacing: 1px;
}

.facts h3 {
    color: #143A3A;
    font-weight: 600;
}

.facts h3 {
    font-size: 40px;
}

.facts h4 {
    color: #143a3a9a;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}

.facts .right h3 {
    font-size: 30px;
}

.facts .right .d1 {
    height: 8px;
}

/* Testimonial css */

.testi {
    border-radius: 40px;
    background: linear-gradient(180deg, #FA8451 0%, #FA5951 100%);
    color: #fff;
    padding: 30px;
    margin: 10px;
}

.testi .dp {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 5px solid #fff;
    color: #000;
    overflow: hidden;
}

.testi .dp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.devider {
    height: 3px;
    background: rgba(255, 255, 255, 0.50);
}

.testi h3 {
    font-size: 22px;
    font-weight: 600;
}

.testi h4 {
    font-size: 20px;
    font-weight: 400;
}

.testimonial {
    padding-top: 80px;
}

.testimonial p {
    line-height: 1.6;
}

/* contact sec css */

.contact {
    padding: 50px 0;
}

.contact button {
    border-radius: 16px;
    background: linear-gradient(180deg, #FA8451 0%, #FA5951 100%);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 10px 17px;
}

/* Footer css  */

footer {
    background: #143A3A;
    padding: 80px 0;
    color: #fff;
}

footer p {
    font-weight: 300;
}

footer a {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

footer .title {
    font-size: 25px;
    font-weight: 500;
}

.footer-bottom {
    background: rgba(20, 58, 58, 0.10);
    padding: 10px 0;
}

.footer-bottom a {
    color: #143A3A;
    font-size: 16px;
    font-weight: 400;
}

/* About-us Page CSS ------------------------------- */

.about-ft .box {
    box-shadow: 24px 24px 44px 0px rgba(1, 101, 101, 0.15);
    border-radius: 24px;
    padding: 40px 15px;
}

.about-ft .box p {
    color: #143a3a9a;
}

.team .box {
    background-color: #fff;
    box-shadow: 24px 24px 44px 0px rgba(1, 101, 101, 0.15);
    border-radius: 20px;
    overflow: hidden;
}

.team .icons {
    display: flex;
    justify-content: space-between;
}

.team .content {
    padding: 25px 0;
}

.team p {
    color: #5c7d7d;
    font-size: 15px !important;
    margin-bottom: 15px;
}

.team .icons a {
    background: #f7f8f8;
    color: #5c727db3;
    font-size: 13px;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .label {
    position: absolute;
    font-size: 13px;
    color: #fff;
    background-color: rgb(105 193 125/85%);
    bottom: 0;
    left: 0;
    margin: 10px;
    border-radius: 4px;
    padding: 3px 15px;
}

.team .link {
    color: #000;
}

.contact-ft {
    background-color: #fff;
    box-shadow: 24px 24px 44px 0px rgba(1, 101, 101, 0.15);
    border-radius: 20px;
    padding: 30px 15px;
    /* margin-left: 100px; */
}

.c-con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-ft a {
    color: #0e2a2a;
    font-size: 14px;
}

.contact-ft .time {
    display: flex;
    justify-content: space-between;
}

.contact-ft .icon,
.contact-sec .icons span {
    background: #f7f8f8;
    font-size: 13px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
}

.contact-sec .icons span {
    color: #143A3A;
    font-size: 16px;
    background: #fff;
    box-shadow: 24px 24px 44px 0px rgba(1, 101, 101, 0.15);
}

.contact-sec .link span {
    display: inline-block;
    margin: 3px 0;
}

.contact-sec .btn {
    background: linear-gradient(180deg, #FA8451 0%, #FA5951 100%);
    color: #fff;
    padding: 10px 20px;
}

.contact-sec .contact-form {
    background-color: #fff;
    box-shadow: 24px 24px 44px 0px rgba(1, 101, 101, 0.15);
    border-radius: 20px;
    margin: 100px 0;
    padding: 15px;
}

.contact-sec input {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
}

.contact-sec input::placeholder {
    font-size: 14px;
}

.services .sticker {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: 600;
}

.services .sticker span {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 7px;
}

/* Media Query ---------- */

@media (min-width:576px) {

    .services {
        padding-bottom: 100px;
    }


    .services .right {
        padding: 80px 0px 80px 80px;
        top: 165%;
        border-radius: 80px 0px 0px 80px;
    }

    .title h2 {
        font-size: 44px;
    }

    .service-sec {
        margin-top: 500px;
    }

    .service-sec .title a {
        padding: 15px 25px;
    }

    .team .content {
        padding: 25px;
    }

    .contact-sec .contact-form {
        padding: 50px;
    }
}

@media (min-width:768px) {

    .services {
        padding-bottom: 130px;
    }

    .facts h3 {
        font-size: 66px;
    }

    .testimonial h2,
    .facts h2 {
        font-size: 44px;
    }

    .facts .right h3 {
        font-size: 45px;
    }

    .facts .left::before {
        left: 0;
    }

    .facts .left {
        padding: 50px 100px;
    }

    .contact {
        padding: 120px 0;
    }

    .contact button {
        padding: 14px 30px;
    }

    p {
        font-size: 16px !important;
    }

    .contact-ft {
        padding: 50px;
    }
}

@media (min-width:992px) {
    .services .right {
        top: 50%;
    }

    .service-sec {
        margin: 0;
    }

    .hero_left-text {
        margin-bottom: 0px;
    }

    .contact-ft {
        margin-left: 100px !important;
    }

    .about-ft .box {
        padding: 20px;
    }

    .services {
        padding: 175px 0;
    }
}

@media (min-width:1200px) {
    .about-sec p {
        line-height: 2;
    }

    .about-ft .box {
        padding: 40px;
    }
}

@media (min-width:1400px) {
    .hero_left-text h1 {
        font-size: 66px;
    }

    .services .left {
        padding-right: 140px;
    }

    .main-btn {
        padding: 17px 40px;
        border-radius: 10px;
    }
}

@media (min-width:1600px) {
    .testimonial {
        padding-left: 90px;
    }
}

@media (min-width:1800px) {
    .testimonial {
        padding-left: 220px;
    }

    p {
        font-size: 18px !important;
    }

    footer a {
        font-size: 16px;
    }
}